body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
}

.converter-container{
    background-color: whitesmoke;
    width: 40%;
    height: 90vh;
    margin: 2%;
    padding-top: 2.5vh;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    border-radius: 4%;
    box-shadow: rgb(117, 37, 192) 4px 6px;
}

.amount-input{
    width: 90%;
    height: 10vh;
    font-size: 25px;
    text-align: center;
}

.selects-container{
    display: flex;
    justify-content: space-around;

}

.select-text{
    display: flex;
    justify-content: space-between;
    padding-top: 2.5vh;
}
.text-from{
    margin-left: 4.6%;
    margin-right: 29%;
    width: 50%;
}
.text-to{
    margin-right: 6%;
    width: 50%;
}

.select-currency{
    margin-top: -1.5vh;
    background-color: #8a2be2;
    color: #FFFFFF;   
    width: 31%;
    height: 8vh;
    font-size: 16px;
}

.convert-button{
    width: 90%;
    margin-top: 4vh;
    background-color: #8a2be2;
    color: #FFFFFF;
    height: 10vh;
    font-size: large;
    border: none;
}

.convert-button:hover{
    transition: 0.2s;
    background-color: #6827a5;
}

.select-currency:hover{
    transition: 0.2s;
    background-color: #6827a5;
}

.result-container{
    margin-top: 6vh;
    background-color: #d09eff;
    width: 90%;
    height: 10vh;
    align-content: center;
}

.swap-image{
    width: 50px;
}

.swap-button{
    margin-top: -1.5vh;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.img-exchange{
    width: 40%;
}

